<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Welcome!</h1>
            <p class="lead text-muted">
                In this page you will be able to find all our available rooms. If 
                you are interested in any, just click on <strong>Save</strong>.
            </p>
            <% if logged_in?(:site_admin)%>
                <%= link_to "Create room", new_room_path, class:"btn btn-primary"%>
            <% end %>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <% @rooms.each do |room| %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm text-center">
                            <%= image_tag (room.image).to_s %>
                            <div class="card-body">
                                <p class="card-text">
                                    <%= room.description.split(" ").first(15).join(" ") %>
                                </p>
                                <%= link_to "Details", room_path(room), class:"btn btn-secondary"%>
                                <a href="#" class="btn btn-primary">Save!</a>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</main>

